{{>menu}}
<main class="container p-3">
    <div class="container divs p-2">
        <h1>Chat</h1>
        <input type="text" id="chatBox">
    </div>  
    <div>
      <p id="message"></p>
    </div>
  </section>
  <a href="/"> <button>Volver</button></a>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>
