<main class="container p-3">
  <section class="row justify-content-around">
    <table class="table s container">
        <thead>
          <tr>
            <th scope="col">Nombre del producto</th>
            <th scope="col">Precio del producto</th>
            <th scope="col">Imagen</th>
          </tr>
        </thead>
        <tbody>
        {{#each productos}}
          <tr class="table-active container s">
            <td class="cada"><span>{{title}}</span></td>
            <td class="cada"><span>$ {{price}}</span></td>
            <td ><img style="    width: 33%;" src="{{thumbnail}}" alt=""></td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    
  </section>
  <a href="/"> <button>Volver</button></a>
</main>