{{>menu}}
<div class='hero-image'>
  <div class='hero-text'>
    <h1>
      Ingresar
    </h1>
    <form onsubmit='login(event)'>
      <input
        id='form-email'
        type='text'
        name='form-email'
        placeholder='email'
      />
      <input
        id='form-password'
        type='password'
        name='form-password'
        placeholder='password'
      />
      <input type='submit' value='Login' />
    </form>
  </div>
  <a href="/api/users/restorePassword">Olvidé la contraseña</a>
</div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src='/js/login.js'></script>
