{{>menu}}
<div class='hero-image'>
  <div class='hero-text'>
    <h1>
      Ingresar
    </h1>
    <span id="role">{{role}}</span>
        {{#if (eq role 'user')}}
        <button onclick="changeRole('{{userId}}', 'premium')">Cambiar a premium</button>
        {{else}}
        <button onclick="changeRole('{{userId}}', 'user')">Cambiar a user</button>
        {{/if}}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src='/js/changeRole.js'></script>