{{>menu}}
<main class="container p-3">
    <div class="container">
        <section>
            <article>
                <h2 class="title">Agregar producto</h2>
                <form action="" class="crud-form" id="crud-form" onsubmit="submitProduct()">
                <input type="text" name="name" id="name" placeholder="Nombre"> 
                <br>
                <input type="text" name="description" id="description" placeholder="Descripción"> 
                <br>
                <input type="text" name="price" id="price" placeholder="Precio"> 
                <br>
                <input type="text" name="stock" id="stock" placeholder="Stock"> 
                <br>
                <input type="text" name="category" id="category" placeholder="Categoria"> 
                <br>
                <input type="text" name="code" id="code" placeholder="Código"> 
                <br>
                <input id="form-file" type="file" name="file" placeholder="Imagen"/>
                <br>
                <input type="submit" value="Agregar Producto">
            </form>
                <p id="producto-id"></p>
            </article>
        </section>
  <section class="row justify-content-around">
    <table class="table table-dark" >
        <thead>
          <tr>
            <th scope="col">Nombre del producto</th>
            <th scope="col">Precio del producto</th>
            <th scope="col">Stock</th>
            <th scope="col">Categoría</th>
            <th scope="col">Código</th>
            <th scope="col">Descripción</th>
            <th scope="col">Imagen</th>
          </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
      </table>
  </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
